<footer>
            <p>EXPRESS BRAINS © ENI 2025 LUCE L.</p>
        </footer>
    </div>
    
    <!-- Scripts -->
    <script src="/js/storage.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>