<%- include('partials/header', { title: 'Page non trouvée' }) %>

<main>
  <div class="card">
    <div
      style="font-size: 6rem; color: var(--primary-color); margin-bottom: 1rem"
    >
      <i class="fas fa-search"></i>
    </div>

    <h2>Page non trouvée</h2>
    <p style="margin-bottom: 2rem">
      Oops ! La page que vous recherchez semble introuvable.
    </p>

    <div style="margin-top: 2rem">
      <a href="/" class="btn">
        <i class="fas fa-home" style="margin-right: 0.5rem"></i> Retour à
        l'accueil
      </a>
    </div>
  </div>
</main>

<%- include('partials/footer') %>
